.header {
  position: fixed;
  top: 0;

  height: 60px;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.header--black {
  background-color: black;
}

.header__avatar {
  height: 70%;
  align-self: center;
  margin-right: 30px;
  margin-top: 16px;
}

.header__logo {
  font-family: "Bebas Neue", cursive;

  color: #e50914;
  font-weight: 400;
  letter-spacing: 0.2rem;
  height: 30%;
  align-self: center;
}
