.loginScreen {
  position: relative;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-position: center no-repeat;
  background-size: cover;
}

.loginScreen__overlay {
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0.8) 100%
  );
}

.loginScreen__header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.loginScreen__logo {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;

  color: var(--netflix-red);
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.loginScreen__signIn {
  cursor: pointer;

  background-color: var(--netflix-red);
  padding: 7px 17px;
  height: fit-content;
  color: white;
  font-size: 1rem;
  font-weight: 400;

  border: none;
  border-radius: 5px;
}

.loginScreen__content {
  position: relative;
  top: 10%;
  width: 90%;
  padding: 4.5rem 5%;
  max-width: 950px;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  font-size: 1.2rem;
}

.loginScreen__text {
  color: white;
  line-height: 1.1;
}

.loginScreen__text > h1 {
  font-size: 3.125em;
  max-width: 640px;
  margin: 0 auto;
}

.loginScreen__text > h2 {
  font-size: 1.625em;
  margin: 1rem auto;
  font-weight: 400;
}

.loginScreen__text > h3 {
  font-size: 1.2em;
  padding: 0 5%;
  margin: 1rem auto;
  font-weight: 400;
}

.loginScreen__input {
  margin: auto;
  border: none;
  height: 3em;
  max-width: 950px;
  padding-top: 0.85rem;
}

.loginScreen__input > input {
  outline-width: 0;
  font-size: 1rem;
  min-width: 450px;
  max-width: 600px;
  height: 100%;
  padding: 0.25em 0.625em;

  border: 1px solid #8c8c8c;
  border-radius: 5px 0 0 5px;
  vertical-align: middle;
  /* width: 100%; */
}

.loginScreen__input > button {
  background-color: var(--netflix-red);
  cursor: pointer;

  min-height: 60px;
  font-size: 1.625em;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 0 1em;
  border-radius: 0 10px 10px 0;
  align-items: center;
  vertical-align: middle;
}

@media (max-width: 832px) {
  .loginScreen__input > input {
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .loginScreen__input > button {
    border-radius: 10px;
  }
}

@media (max-width: 570px) {
  .loginScreen__logo {
    font-size: 2rem;
  }

  .loginScreen__content {
    font-size: 0.8rem;
    top: 0;
    padding: 1em 0;
  }

  .loginScreen__input > input {
    width: 70%;
    min-width: 250px;
  }
}
